.body {
    background-color: #000000cf;
    min-height: 100vh;
    min-width: 1650px;
}


/* start header style */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
    z-index: 10;
}
.header::after {
    content: '';
    transition: 2s;
    position: fixed;
    border-radius: 50% 50% 0 0;
    z-index: 1;
    width: 0;
    height: 0;
    top: 150vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000cf;
}
.header_blocking::after {
    top: -50vh;
    width: 300vw;
    height:  300vw;
}
.header__logo {
    position: relative;
    z-index: 10;
    min-width: 190px;
}
.logo {
    height: 121px;
    max-width: 235px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #ffffff38;
    border-bottom: 1px solid #ffffff38;
}
.logo__img {
    max-width: 160px;
    width: 100%;
    height: 37px;
    background: transparent url('../img/logo.svg') no-repeat 50% 50%;
    background-size: contain;
}
.logo__text {
    font-family: 'Century Expanded', serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.switch-language {
    position: relative;
    z-index: 10;
    max-width: 295px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ffffff38;
}
.switch-language__button {
    cursor: pointer;
    transition: color 0.3s;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Century Expanded', serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff7d;
    padding: 0 10px;
}
.switch-language__button_active {
    color: #ffffff;
}
.switch-language__button:hover {
    color: #ffffff
}
.nav__list {
    list-style-type: none;;
    position: relative;
    z-index: 10;
    padding: 0 37px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ffffff38;
}
.nav__link {
    display: block;
    position: relative;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 14px;
    line-height: 120px;
    padding: 0 37px;
    color: #ffffff;
    text-decoration: none;
}
.nav__link::after {
    transition: opacity 0.3s;
    content: '.';
    position: absolute;
    display: block;
    line-height: 1;
    width: 3px;
    height: 3px;
    bottom: 49px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.nav__link_active::after {
    opacity: 1;
} 
.nav__link:hover::after {
    opacity: 1;
}
.contacts {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 505px;
    min-width: 370px;
    width: 100%;
    border-left: 1px solid #ffffff38;
    border-bottom: 1px solid #ffffff38;
}
.contacts__link {
    transition: color 0.3s;
    display: block;
    max-width: 253px;
    width: 100%;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 120px;
    color: #ffffff;
    text-decoration: none;
}
.contacts__link {
    border-right: 1px solid #ffffff38;
}
.contacts__link:hover {
    color: #ffffff7d;
}
.burger {
    position: relative;
    max-width: 175px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.burger__container {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}
.burger__list {
    position: absolute;
    top: 50%;
    left: 190px;
    transform: translate(-50%, -50%);
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.burger__link {
    display: block;
    font-family: 'Century Expanded', serif;
    font-size: 60px;
    line-height: 123px;
    color: #ffffff;
    text-decoration: none;
}
.burger__link_active {
    text-decoration: underline;
}
.burger__link:hover {
    text-decoration: underline;
}
.burger__container-lines {
    cursor: pointer;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff38;
    position: relative;
    z-index: 10;
}
.burger__line {
    transition: 0.3s;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 3px 0;
}
.burger__container-lines:hover .burger__line {
    background-color: #ffffff7d;
}
.burger__container-lines_open {
    display: block;
}
.burger__container-lines_open .burger__line_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
}
.burger__container-lines_open .burger__line_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
    opacity: 0;
}
.burger__container-lines_open .burger__line_3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-40deg);
}
.burger__container_open {
    display: block;
    animation-name: burgerOpen;
    animation-duration: 1s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}
@keyframes burgerOpen {
    from {
        display: block;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* end header style */




/* start main style */
.main {
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 120px;
    bottom: 110px;
}
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.slide {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.slide__column {
    position: relative;
    z-index: 10;
    max-width: 740px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.slide__column_size {
    max-width: 100%;
    width: 100%;
    justify-content: flex-end;
}
.slide__text-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 635px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 95px;
}
.slide__text-container_border {
    border-bottom: 1px solid #ffffff38;
    border-right: 1px solid #ffffff38;    
}
.slide__text-container_bottom {
    padding-left: 40px;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 70px;
}
.slide__text-title {
    max-width: 470px;
    width: 100%;
    margin: 0;      
    margin-top: 55px;
    margin-bottom: 20px;
    font-family: 'Century Expanded', serif;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}
.slide__text-content {
    max-width: 470px;
    width: 100%;
    font-family: 'Century Expanded', serif;    
    font-size: 14px;
    line-height: 24px;
    color: #ffffff9c;
    margin: 0;
    margin-bottom: 50px;
}
.slide__text-content_size {
    font-size: 18px;
    line-height: 34px;
    color: #ffffff;
    max-width: 695px;
    width: 100%;;
    margin: 0;
}
.slide__main-title {
    font-family: 'Century Expanded', serif;        
    font-size: 60px;
    line-height: 74px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 70px;
    padding-left: 95px;
}
.slide__link-read-more {
    transition: color 0.3s;
    font-family: 'Century Expanded', serif;        
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    text-decoration: none;
    align-self: flex-end;
    margin-right: 130px;
}
.slide__link-read-more:hover {
    color: #ffffff7d; 
}
.slide__bg {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../img/slider/slide-2.jpg') no-repeat 50% 50%;
    background-color: #00000080;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
/* end main style */




/* start footer style */
.footer {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 110px;
    width: 100%;
    background-color: #1a0c0ca3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__social-link-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 95px;
}
.footer__social-link {
    transition: opacity 0.3s;
    display: block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin-right: 100px;
}
.footer__social-link:hover {
    opacity: 0.7;
}
.footer__social-link_bg_1 {
    background-image: url('../img/icon-1.svg');
}
.footer__social-link_bg_2 {
    background-image: url('../img/icon-2.svg');
}
.footer__social-link_bg_3 {
    background-image: url('../img/icon-3.svg');
}
.footer__link-to-call {
    transition: opacity 0.3s;
    display: block;
    max-width: 385px;
    padding-left: 160px;
    padding-right: 130px;
    color: #000000;
    font-family: 'Century Expanded', serif;
    font-size: 18px;
    line-height: 110px;
    text-decoration: none;
    background: #ffffff url('../img/icon-4.svg') no-repeat 130px 50%;
}
.footer__link-to-call:hover {
    opacity: 0.7;
}
/* end footer style */